h1 {
  text-align: center;
}

h2 {
  text-align: left;
  font-size: 50px;
  margin: 20px; /* Adjust margin */
}

button {
  border-radius: 10px;
  padding: 20px 65px;
  border: none;
  color: white;
  background-color: rgb(26, 170, 53);
  margin-top: 20px; /* Adjust margin for spacing */
}

p {
  text-align: left;
  font-size: 15px;
  margin: 20px; /* Adjust margin */
}


img {
  width: 700px;
  display: block; /* Makes sure the image is a block element */
  margin: 20px auto; /* Center the image */
}

/* Add styles specific to login page if needed */
.login-form {
  max-width: 400px;
  margin: 50px auto; /* Center the login form */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
